* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div div,
li,
a,
input {
    border: 1px solid red;
}

#interface {
    opacity: 1;
}

.oculto {
    opacity: 0;
}

.display {
    display: none;
}


/*  HEADER   */

header .nav_button_open {
    display: none;
}

header .header {
    width: 75%;
    margin: auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: center;
}

#Capa_1 {
    width: 20px;
    position: absolute;
    margin-left: 30px;
    justify-content: center;
    margin-top: 8px;
}

header input[type="search"] {
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 140px;
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    padding-left: 35px;
}


/*  NAVEGADOR   */

nav .nav {
    background: #523468;
    font-style: italic;
    color: #fff;
    width: 75%;
    margin: auto;
    padding: 25px;
    display: flex;
}

nav .nav_links a {
    margin-right: 10px;
}

nav .nav_links a:last-child {
    padding: 15px;
    background: #422a53;
    border-radius: 5px;
}

nav .nav_login {
    margin: auto;
}


/*  MAIN - SECTION   */

section .produtos {
    padding: 30px;
    margin: auto;
    width: 75%;
}

section .prod {
    text-align: center;
    width: calc(33.333% - 5px);
    display: inline-block;
    margin-top: 20px;
    line-height: 1.5;
    font-size: 10pt;
}

main section img {
    width: 100%;
    cursor: pointer;
}


/*  FOOTER   */

footer .footer {
    background: #e6e6e6;
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
    width: 75%;
    margin: auto;
}

footer .footer_dados_1 {
    flex-direction: column;
    display: flex;
}

footer .footer_contacts {
    margin: auto;
    padding: 10px;
    display: flex;
}

footer .footer_contacts li {
    float: left;
    width: calc(30% - 5px);
    color: #d94a26;
    list-style: none;
}

footer .footer_midia {
    display: flex;
}

footer .footer_midia img {
    padding: 10px;
}

footer .footer_email {
    background: #fff;
    margin-top: 10px;
    padding: 35px;
    float: right;
    margin-bottom: 10%;
    margin-right: 20px;
}

footer .footer_email input {
    width: 60%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

footer .footer_email button {
    background: #d73a1e;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    color: #fff;
}

footer .footer_contacts p {
    margin-top: 50px;
    padding: 5px;
    line-height: 1.5;
    float: left;
}

footer .footer p:nth-child(1) {
    font-style: italic;
    font-size: 14pt;
}

footer .footer p {
    margin: 10px;
}


/*  MODAL   */

.modal_dados {
    float: right;
    margin-right: 5%;
    padding: 5%;
}

.modal_dados li {
    list-style: none;
}

.info_modal {
    display: flex;
    padding-right: 5%;
}

.modal_dados_image {
    flex-direction: row;
    display: flex;
    margin: center;
}

.modal_dados_button {
    margin: auto;
    vertical-align: center;
}

.modal_button_fechar span {
    margin: 0;
    padding: 0;
    float: right;
}

.modal_button_add {
    background: #d73a1e;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 120px;
    height: 10%;
    color: #fff;
    float: right;
    display: flex;
    margin-bottom: 30%;
}

.modal_image img {
    float: left;
    background-attachment: scroll;
    margin-top: 20%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.842);
}

.modal_content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 5%;
    border: 1px solid #888;
    width: 50%;
}

.modal.abrir {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    color: #000;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}


/*      NAV RESPONSE     */

.nav_response {
    position: absolute;
    transform: translateX(-800px);
    /* left: -850px; */
    width: 75%;
    margin: auto;
    background: #523468;
    padding: 20px;
    display: flex;
}


/*  MEDIA QUERIE   */

@media screen and (max-width: 900px) {
    header .search,
    header .logo2,
    nav .nav_links,
    nav .nav_login,
    footer .footer_contacts {
        display: none;
    }
    header .header {
        width: 75%;
        margin: auto;
        display: flex;
    }
    header .logo {
        margin: auto;
        display: flex;
    }
    header .header_logos {
        flex-direction: column;
        display: flex;
    }
    header .logo3 {
        display: flex;
        margin: auto;
    }
    header .logo4 {
        display: flex;
    }
    header img {
        width: 100%
    }
    nav .nav {
        padding: 10px;
        background: #ececec;
        justify-content: center;
        color: #8b8b8b;
        font-size: 14pt;
    }
    .modal_dados_image {
        display: block;
        margin: 0;
        padding: 0;
    }
    .modal_dados {
        padding: 0;
        float: none;
        margin: 0;
    }
    .modal_content {
        padding: 0;
        margin: 0;
        display: flex;
    }
    .modal_dados_button {
        padding: 0;
    }
    .modal_image {
        margin: 0;
    }
    nav .nav::after {
        display: flex;
        content: "Free shipping on orders over $50";
    }
    /*  NAV RESPONSIVO  */
    header .nav_button_config {
        display: block;
    }
    header .nav_button_open {
        display: block;
        position: absolute;
        width: 5%;
        margin: auto;
        /* transform: rotateZ(90deg); */
    }
    /* header .nav_button_open span {
        border: 3px solid #523468;
        margin: 1px;
    } */
    .nav_response {
        /* display: none; */
        top: 120px;
        transform: translateX(-620px);
        /* left: -850px; */
        width: 75%;
        margin: auto;
        background: #523468;
        padding: 20px;
        /* display: block; */
    }
    .volta {
        top: 120px;
        transform: translateX(90px);
        width: 75%;
        margin: auto;
        background: #523468;
        padding: 20px;
    }
    .nav_links_response a:hover {
        margin: 1%;
        background: #422a53;
        color: white;
    }
    .nav_links_response a {
        display: block;
        padding: 2%;
        margin: 2%;
        color: white;
    }
    .nav_login_response {
        text-align: center;
        border-radius: 4px;
    }
    .nav_login_response a {
        display: inline-block;
        padding: 2%;
        margin: 2%;
        text-align: center;
        color: white;
    }
    .nav_login_response a:hover {
        background: #422a53;
        border-radius: 4px;
    }
    header .nav_button_close {
        font-size: 35pt;
        transform: rotateZ(90deg);
    }
    header .nav_button_close span {
        font-family: sans-serif;
        color: green;
        margin: 1px;
    }
    section .prod {
        width: calc(50.333% - 5px);
        padding: 0;
    }
    footer .footer {
        display: flex;
        text-align: center;
        padding: 0;
        flex-direction: column;
    }
    footer .footer_dados_1 {
        margin: 0;
        padding: 0;
    }
    footer .footer_midia {
        padding: 5%;
        padding: 0;
    }
    footer .footer_midia a {
        margin: auto;
    }
    footer .footer_dados_2 {
        display: flex;
        margin: auto;
    }
    footer .footer_email {
        margin: auto;
        width: 90%;
    }
}