@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*   BORDA COMO GUIA   */


/* div div,
li,
a,
input {
    border: 1px solid red;
} */

body {
    margin: auto;
    width: 75%;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.content {
    opacity: 1;
    margin: auto;
}

.oculto {
    opacity: 0;
}


/*  HEADER   */

header .header {
    /* width: 75%; */
    margin: auto;
    display: flex;
    align-items: center;
    padding: 3%;
    justify-content: space-between;
}

header .nav_button_open {
    display: none;
}

header .header_logos {
    display: flex;
}

header .logo4 {
    display: flex;
    align-items: center;
}

header .logo4 img {
    width: 75%;
}

#Capa_1 {
    width: 15px;
    position: absolute;
    margin-left: 40px;
    justify-content: center;
    margin-top: 10px;
    fill: #c03f1f;
}

header input[type="search"] {
    border: 1px solid black;
    margin-left: 30px;
    margin-right: 140px;
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    padding-left: 35px;
}


/*  NAVEGADOR   */

nav .nav {
    background: #523468;
    font-style: italic;
    color: #fff;
    /* width: 75%; */
    margin: auto;
    padding: 2%;
    display: flex;
}

nav .nav_links a {
    margin-right: 10px;
    padding: 10px;
}

nav .nav_links a:hover {
    background: #422a53;
    border-radius: 5px;
}

nav .nav_login {
    margin: auto;
}

nav .nav_login a {
    /* margin: auto; */
    padding: 10px;
}

nav .nav_login a:hover {
    background: #422a53;
}

nav .nav_login span {
    color: #b799b0;
}


/*  MAIN - SECTION   */

section .produtos {
    padding: 30px;
    margin: auto;
}

section .produtos h3 {
    font-size: 20pt;
}

section .produtos h4 {
    font-size: 13pt;
}

section .prod {
    text-align: center;
    width: calc(33.333% - 5px);
    display: inline-block;
    margin-top: 20px;
    line-height: 1.5;
    font-size: 10pt;
}

section .prod:hover {
    opacity: .7;
    transform: scale(1.01);
    transition-timing-function: cubic-bezier(.68, -0.55, .27, 1.55);
    transition-duration: .5s;
}

main section img {
    width: 100%;
    cursor: pointer;
}


/*  FOOTER   */

footer .footer {
    background: #e6e6e6;
    display: flex;
    padding-top: 1%;
    padding-left: 2%;
    width: 100%;
}

footer .footer_dados_1 {
    flex-direction: column;
    display: flex;
}

footer .footer_contacts {
    padding: 2%;
    display: flex;
}

footer .footer_contacts li {
    float: left;
    width: calc(30% - 5px);
    color: #c03f1f;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
}

footer .footer_midia {
    display: flex;
}

footer .footer_midia img {
    padding: 15px;
    margin-right: 10px;
}

footer .footer_dados_2 {
    display: flex;
    margin: auto;
    width: 100%;
}

footer .footer_email {
    background: #fff;
    padding: 5%;
    float: right;
    margin-left: 5%;
}

footer .footer_email input {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    /* display: flex; */
}

footer .footer_email button {
    background: #d73a1e;
    border: none;
    padding: 10px;
    border-radius: 5px;
    /* width: 30%; */
    margin: 5%;
    color: #fff;
}

footer .footer p:nth-child(1) {
    font-style: italic;
    font-size: 12pt;
}

footer .footer p {
    margin: 10px;
}

footer .footer_copyright {
    font-family: sans-serif;
    font-style: normal;
    margin-bottom: 10%;
    margin-top: 10%;
    color: #80808a;
}


/*  MODAL   */

.modal_dados p {
    /* font-family: sans-serif; */
    font-size: 12pt;
    margin: 5px;
}

.modal_dados {
    float: right;
    margin: 3%;
    padding: 5%;
}

.modal_dados li {
    list-style: none;
    margin: 5px;
    padding: 0;
}

.info_modal {
    display: flex;
    /* padding-right: 5%; */
}

.modal_dados_image {
    flex-direction: row;
    display: flex;
}

.modal_dados_button {
    /* text-align: center; */
    margin: 20px;
    /* vertical-align: center; */
}

.modal_button_fechar span {
    margin: 0;
    padding: 0;
    float: right;
}

.modal_button_add {
    background: #d73a1e;
    border: none;
    padding: 3%;
    border-radius: 5px;
    width: 120px;
    height: 8%;
    color: #fff;
    float: right;
    /* display: flex; */
    margin: 10px;
    margin-bottom: 2%;
}

.modal_image img {
    float: left;
    background-attachment: scroll;
    margin-top: 20%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.842);
    padding: 1%;
}

.modal_content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 50%;
}

.modal_content img {
    width: 100%;
}

.modal.abrir {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_price_title {
    text-align: center;
}

.modal_price {
    text-align: center;
    color: #d73a1e;
    font-weight: bold;
}

.close {
    color: #000;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #d73a1e;
    text-decoration: none;
    cursor: pointer;
}


/*      NAV RESPONSE     */

.nav_response {
    position: absolute;
    transform: translateX(-120%);
    /* left: -850px; */
    width: 75%;
    margin: auto;
    background: #523468;
    padding: 20px;
    font-style: italic;
    /* display: flex; */
}

.nav_button_config {
    display: none;
}

@media screen and (max-width: 1024px) {
    section .produtos h4 {
        font-size: 12pt;
        font-weight: bold;
    }
    nav .nav_links a {
        margin-right: 0px;
        padding: 8px;
    }
}


/*  MEDIA QUERIE   */

@media screen and (min-width: 901px) and (max-width:1120px) {
    nav .nav_links a {
        margin-right: 0;
        padding: 0;
    }
}

@media screen and (max-width: 900px) {
    header .logo2,
    nav .nav_links,
    nav .nav_login,
    footer .footer_contacts {
        display: none;
    }
    #Capa1 {
        margin-right: 10%;
    }
    header .search {
        display: none;
        margin: auto;
    }
    header input[type="search"] {
        width: 80%;
    }
    header .header {
        margin: auto;
        display: flex;
    }
    header .header_logos {
        flex-direction: column;
        display: flex;
    }
    header .logo3 {
        display: flex;
        margin: auto;
        width: 50%;
    }
    header .logo4 {
        display: flex;
        width: 75%;
    }
    header img {
        width: 90%
    }
    nav .nav {
        padding: 10px;
        background: #ececec;
        justify-content: center;
        color: #8b8b8b;
        font-size: 14pt;
    }
    .modal_dados_image {
        display: flex;
        margin: 0;
        padding: 0;
    }
    .modal_dados {
        float: none;
        margin: 0;
    }
    .modal_dados_button {
        padding: 0;
    }
    .modal_image {
        margin: 0;
    }
    nav .nav::after {
        display: flex;
        content: "Free shipping on orders over $50";
    }
    /*  NAV RESPONSIVO  */
    header .nav_button_config {
        display: flex;
        margin: 2%;
    }
    header .nav_button_open {
        border: none !important;
        display: block;
        margin-right: 20px;
        transform: rotateZ(90deg);
    }
    header .nav_button_open span {
        border: 3px solid #523468;
        margin-left: 1px;
    }
    header .nav_button_close {
        position: absolute;
        /* width: 2%; */
        margin-right: 20px;
        display: flex;
    }
    header .nav_button_close span {
        position: absolute;
        width: 30px;
        border: 3px solid green;
        display: flex;
    }
    header .nav_button_close span:nth-child(1) {
        transform: rotateZ(-56deg);
        border: 3px solid #523468;
    }
    header .nav_button_close span:last-child {
        transform: rotateZ(60deg);
        border: 3px solid #523468;
    }
    section .produtos h4 {
        font-size: 12pt;
        font-weight: normal;
    }
    .display {
        display: none !important;
    }
    .volta {
        transform: translateX(0);
        transition-timing-function: cubic-bezier(.68, -0.55, .27, 1.55);
        transition-duration: 1s;
        background: #523468;
    }
    .nav_links_response a:hover {
        margin: 1%;
        background: #422a53;
        color: white;
    }
    .nav_links_response a {
        display: block;
        padding: 2%;
        margin: 2%;
        color: white;
    }
    .nav_login_response {
        text-align: center;
        border-radius: 4px;
    }
    .nav_login_response span {
        color: #b799b0;
    }
    .nav_login_response a {
        display: inline-block;
        padding: 2%;
        margin: 2%;
        text-align: center;
        color: white;
    }
    .nav_login_response a:hover {
        background: #422a53;
        border-radius: 4px;
    }
    main,
    footer {
        display: flex;
    }
    section .prod {
        width: calc(50.333% - 5px);
        padding: 0;
    }
    footer .footer {
        display: flex;
        padding: 0;
        flex-direction: column-reverse;
    }
    footer .footer_dados_1 {
        margin: 0;
        padding: 0;
    }
    footer .footer_midia {
        padding: 5%;
    }
    footer .footer_midia a {
        margin: auto;
    }
    footer .footer_midia img {
        padding: 0;
    }
    footer .footer_dados_2 {
        display: flex;
        margin: auto;
    }
    footer .footer_email {
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 90%;
    }
    footer .footer_email input {
        width: 60%;
    }
    footer .footer_copyright {
        margin: 0;
    }
    footer .footer_copyright p:nth-child(1) {
        text-align: center;
        font-size: 10pt;
    }
}

@media screen and (max-width: 320px) {
    nav .nav::after {
        font-size: 10pt;
    }
    section .produtos h3 {
        font-size: 14pt;
    }
    .modal {
        width: 110%;
        /* margin: 10px; */
    }
    .modal_content {
        width: 50%;
        display: block;
    }
    .modal_dados_button h3 {
        font-size: 10pt;
    }
    .modal_dados_button p,
    .modal_dados_button li,
    .modal_button_add {
        font-size: 8pt;
    }
    .modal_dados_image {
        display: block;
    }
    footer .footer_email input {
        width: 100%;
    }
    footer .footer_midia img {
        margin-right: 0;
    }
    footer .footer_copyright p:nth-child(1) {
        text-align: center;
        font-size: 10pt;
    }
}

@media screen and (max-width: 375px) {
    section .produtos h3 {
        font-size: 14pt;
    }
    .modal_content {
        width: 50%;
    }
    .modal_dados_button h3 {
        font-size: 10pt;
    }
    .modal_dados_button p,
    .modal_dados_button li,
    .modal_button_add {
        font-size: 8pt;
    }
    .modal_dados_image {
        display: block;
        margin: 0;
        padding: 0;
    }
    footer .footer_email input {
        width: 100%;
    }
    footer .footer_copyright {
        font-size: 10pt;
    }
}

@media screen and (max-width: 425px) {
    section .produtos h3 {
        font-size: 14pt;
    }
    .modal_content {
        width: 50%;
    }
    .modal_dados_button h3 {
        font-size: 10pt;
    }
    .modal_dados_button p,
    .modal_dados_button li,
    .modal_button_add {
        font-size: 8pt;
    }
    .modal_dados_image {
        display: block;
        margin: 0;
        padding: 0;
    }
    footer .footer_email input {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    section .produtos h4 {
        font-size: 12pt;
        font-weight: normal;
    }
    .modal_content {
        width: 50%;
    }
}